{{#each this}}
    <article class="file">
        <header>
            <h1>{{from}} &rarr; {{to}}</h1>
        </header>
        <main>
            <ul class="chunks">
                {{#each this.chunks}}  
                    <li class="chunk">
                        <div class="ui">
                            <button data-target-status="before">&larr;</button>
                            <button data-target-status="after">&rarr;</button>
                            <button data-target-status="both">&harr;</button>
                        </div>
                        <code>
                            {{#each this.changes}}
                                <div class="row {{type}}">
                                    <div class="cell number" data-line-number="{{ln}}" data-line-number1="{{ln1}}" data-line-number2="{{ln2}}"></div>
                                    <div class="cell line">{{{content}}}</div>
                                </div>
                            {{/each}}
                        </code>
                    </li>
                {{/each}}
            </ul>
        </main>
    </article>
{{/each}}