{{#each this}}
    <article>
        <header>
            <h1>{{from}} -&gt; {{to}}</h1>
        </header>
        <main class="content">
            <ul class="chunks">
                {{#each this.chunks}}  
                    <li>
                        <code>
                            {{#each this.changes}}
                                <span class="row {{type}}">
                                    <span class="cell number" data-line-number="{{ln}}" data-line-number1="{{ln1}}" data-line-number2="{{ln2}}"></span>
                                    <span class="cell line">{{content}}</span>
                                </span>
                            {{/each}}
                        </code>
                    </li>
                {{/each}}
            </ul>
        </main>
    </article>
{{/each}}